doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(href='/stylesheets/style.css', rel='stylesheet')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    meta(name='description', content="Mapping Seattle's food trucks, microbreweries, and distilleries.")
    title Boozey Bites
  body
    #container
      #introbox
        #wrapper
          h1 boozey bites
          h2 mapping Seattle's food trucks, breweries, and distilleries
          p by #[a(target="_blank", href="https://twitter.com/ElsaMoluf") Elsa]
          p.
            Data as of Oct 2015, from
            #[a(target="_blank", href="http://www.seattlefoodtruck.com/") Seattle Food Truck] and
            #[a(target="_blank", href="http://beermapping.com/") The Beer Mapping Project]. Icons from
            #[a(target="_blank", href="https://mapicons.mapsmarker.com/") Maps Icons Collection].
          #legend
            .brewery-row
              img(src='images/brewery.png')
              span.label brewery
            .distillery-row
              img(src='images/distillery.png')
              span.label distillery
            .foodtruck-row
              img(src='images/foodtruck.png')
              span.label foodtruck
            .closed-row
              img(src='images/foodtruck_closed.png')
              span.label closed
          p: i.fa.fa-times
      #map

    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js').

    script(type='text/javascript' src='/javascripts/googlemaps.js').

    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=#{GOOGLE_KEY}&callback=initMap').
